<!-- ========================= FOOTER ========================= -->
<footer id="footer" class="section-footer bg2">
<hr>
	<div class="container">
		<section class="footer-bottom row">
			<div class="col-sm-6"> 
				<p> Made with <3 <br>  by Gus Prado</p>
			</div>
			<div class="col-sm-6">
				<p class="text-sm-right">
Copyright &copy 2019 <br>
<a href="http://www.gusprado.com">Gus Prado Website</a>
				</p>
			</div>
		</section> <!-- //footer-top -->
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->


</body>
</html>