<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BugTracker</title>
</head>
<body>
    <h1> Bug Tracking Tool</h1>
    <p>Fill out the form:</p>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        <label for="type">Issue type:</label>
        <input type="text" id="type" name="type">
        <label for="reproduce">How to reproduce:</label>
        <input type="text" id="reproduce" name="reproduce">
        <label for="expected">What was expected?</label>
        <input type="text" id="expected" name="expected">
        <label for="output">Whats happened?</label>
        <input type="text" id="output" name="output">

        <button type="submit"> Send notification </button>
    </form>
</body>
</html>